* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc5b9;
    font-family: sans-serif;
}

.info {
    background: #403d39;
    padding: 1rem;
    margin: 1.5rem 0rem 0rem 1rem;
    overflow-x: hidden;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    flex: 0 0 250px;
}

.info h1{
    margin-bottom: 1rem;
}

.info h3{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.info span{
    margin-left: 0.5rem;
}

.info hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info .badge{
    background-color: #252422;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
    display:inline-block;
    border-radius: 999px;
}

.mainContent {
    margin: 1rem;
    display: inline-block;
    flex: 1;
}

.mainContent span{
    margin-left: 0.5rem;
}

.mainContent .project{
    background-color: #403d39;
    width: 30rem;
    height: auto;
    border-radius: 10px;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.mainContent li {
    display: inline-block;
    vertical-align: center;
    gap: 0.1rem;
}

.mainContent .project img{
    display: block;
    width: 100%;
    height: auto;
}

.mainContent .project .overlay{
    opacity: 1;
}

.mainContent .project{
    padding: 1rem;

}

.mainContent .project:hover{
    opacity: 1;
    transform: translateY(-8px); /* the whole card moves */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); /* add depth */
    transition: transform 0.3s ease;
}

.mainContent .project a{
    font-size: 2rem;
}

.all{
    display: flex;
    gap: 1rem;
}

body{
    background-color: #252422;
}

@media (max-width: 768px) {
    .all {
        display: block;
        flex-flow: column wrap;
    }

    .info {
        order: 2;
    }

    .mainContent {
        order: 1;
    }

    .mainContent .project{
    width: 20rem;
}
}