* {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
    color: #ccc5b9;
    font-family: sans-serif;
}

.info {
    background: #403d39;
    padding: 1rem;
    margin: 1.5rem 0rem 0rem 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: 600px; */
    border-radius: 10px;
    display: inline-block;
}

.info h1{
    margin-bottom: 1rem;
}

.info h3{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.info span{
    margin-left: 0.5rem;
}

.info hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info .badge{
    background-color: #252422;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
    display:inline-block;
    border-radius: 999px;
}

.bullet_hollow {
    list-style-type: circle;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
}

.top_row {
    display: flex;
    gap: 0.25rem;
}

.bottom_row {
    display: flex;
    gap: 0.25rem;
    height: auto;
}

.left {
    flex: 0 0 auto;
    margin-left: 1rem;
}

.right {
    flex: 1 1 auto;
    margin-right: 1rem;
    width: auto;
}

.bottom_row .left,
.right h3{
    margin-left: 0rem;
    margin-bottom: 0.5rem;
}

.bottom_row .left li,
.right li{
    margin-left: 1.5rem;
}

.mainContent {
    margin: 1rem;
    display: inline-block;
    flex: 1;
}

.mainContent span{
    margin-left: 0.5rem;
}

.mainContent .project{
    background-color: #403d39;
    width: 30rem;
    height: 100%;
    border-radius: 10px;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 1rem;
}

.mainContent ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
}


.mainContent li {
    display: inline-block;
    vertical-align: top;
    gap: 0.1rem;
}

.mainContent .project img{
    display: block;
    width: 100%;
    height: auto;
}

.mainContent .project .overlay{
    opacity: 1;
}

.mainContent .project:hover{
    opacity: 1;
    transform: translateY(-8px); /* the whole card moves */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); /* add depth */
    transition: transform 0.3s ease;
}

.mainContent .project a{
    text-decoration: none;
}

body{
    background-color: #252422;
    margin: 1rem;
    
}

@media (max-width: 768px) {
    .container {
        display: block;
        align-items: center;
        gap: 0.25rem;
    }   

    .top_row {
        display: block;
        align-items: center;
    }

    .bottom_row{
        display: block;
    }

    .bottom_row .left{
        margin-left: 1rem;
    }

    .left {
        margin-left: 1rem;

    }

    .info {
        order: 2;
    }

    .mainContent {
        order: 1;
    }

    .mainContent .project{
    width: 20rem;
    }

    .mainContent .project a{
    
    }
}